
@font-face {
    font-family: 'daxlight3';
    src: url('dax_light-webfont.eot');
    src: url('dax_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('dax_light-webfont.woff') format('woff'),
         url('dax_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: daxlight3, 'Arial';
    font-size: 14px;
    margin: 5px;\
}

th {
    background-color:#333;
    color: #ffffff;
    text-align:left;
}

tr {
    font-size: 14px;
}

.table_row {
    background-color: #E9E9E9;
}

.note {
    font-size: 11px;
}

.footer {
    font-size: 10px;
}